    {{ container_name }}:
        container_name: {{ container_name }}
        image: wordpress
        restart: 'on-failure'
        depends_on:
            - {{ mariadb:container_name }}
        ports:
            - {{ port }}:80